@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

input,
textarea {
  color: #000000 !important;
  background-color: #ffffff !important;
}

input::placeholder,
textarea::placeholder {
  color: #6b7280 !important;
  opacity: 1 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
